* {
  box-sizing: border-box;
}
html { 
  background: url(games.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Arial;
  padding: 10px;
}

/* Header/Blog Title */
.header {
  padding: 150px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  background: url(board.png) no-repeat;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: orange;
  border-radius: 25px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  float: left;
  width: 50%;
}

/* centre column */
.column.centre {
  text-align: center;
  width: 100%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px;
  margin-top: 20px;
  border-radius: 25px;
}

.card h1 {
  font-size: 80px;
}

.card h2 {
  font-size: 50px;
}

.card h3 {
  font-size: 25px;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  border-radius: 25px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* Create three equal columns that floats next to each other */
.column.three {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.card.cars {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-family: arial;
}

.card.compact {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px;
  margin-top: 20px;
}

.price {
  color: black;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.card.airport {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  max-width: 1080px;
  max-height: 1920px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

select {
  width: 15%;
  padding: 12px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  outline: none;
}

input {
  font-size: 30px;
  width: 25%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 5px solid #ccc;
  outline: none;
}

input:focus {
  border: 5px solid orange;
}
textarea{
  width: 33%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  outline: none;
}
textarea:focus{
  border: 3px solid yellow;
}

